html {
  background-color: #212529;
}

.ticker {
  background-color: #F9F9F9;
  color: black;
}

.ticker-text {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.button-back {
  margin: 0;
  padding: 0;
}