@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');


/* * {
    font-family: 'Open Sans';
    background: #0D1117;
    color: #CAD1D9;
} */

.ticker {
  background-color: #F9F9F9;
}

.ticker-left, .ticker-right {
  font-size: 12px;
}

.ticker-left {
  text-align: left;
}

.ticker-right {
  text-align: right;
}